# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# env
.env

# misc
.DS_Store
.agents/
.claude/
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.idea/

# tooling
skills-lock.json

# build artifacts
tsconfig.tsbuildinfo
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
